:root{
    --color-primary: skyblue;
    --color-accent: orange;
}

input {
    height: 1.5em;
    width: 130px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-primary);
}

input:hover, input:focus{
    outline: none;
    border-color: var(--color-accent);
}

div .input-field-container{
    width: 230px;
    display: flex;
    justify-content: space-between;
}