:root{
    --color-primary: skyblue;
    --color-accent: orange;
}

label{
    font-weight: bold;
}

.username, .password {
    height: 2em;
    width: calc(100% - 14px);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--color-primary);
}

.username:hover, .username:focus, .password:hover, .password:focus, button:hover, button:focus, send-message-contents:hover, send-message-contents:focus{
    outline: none;
    border-color: var(--color-accent);
}

div .input-field-container{
    width: 220px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    border-style: solid;
    background: #ededed;
    border-width: 2px;
    padding: 10px 30px;
    border-radius: 5px;
    border-color: var(--color-primary);
    cursor: pointer;
}

button[disabled]{
    border-color: lightgray;
    cursor: auto;
}

.smol-link {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 0.8em;
    color: var(--color-primary)
}

.smol-link:hover, .smol-link:focus{
    color: var(--color-accent);
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

.message-field-container{
    display: flex;
    flex-flow: column;
}

.send-message-contents{
    min-height: 1em;
    height: 4em;
    resize: vertical;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--color-primary);
}

.pass-weak, .pass-okay, .pass-stronk{
    font-weight: bold;
    padding: 0px;
    margin: 5px 0px;
}

.pass-weak{
    color: red;
}

.pass-okay{
    color: orange;
}

.pass-stronk{
    color: forestgreen;
}

.subtle{
    color: grey;
}