@import "./inputs/inputs.css";

body {
  background-color: aliceblue;
}

.Centered {
  position: absolute;
  top: 0px;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
  bottom: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
}

.content{
  display: flex;
  flex-flow: column;
  align-items: center;
  height: calc(100% - 150px);
  width: 100%;
  overflow: auto;
}

h1 {
  margin-top: 0px;
}

div.header {
  width: 100%;
  margin: 0px;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  background-image: linear-gradient(teal, aliceblue);
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 600px) {
  .Centered {
    width: 500px;
    left: calc((100% - 500px)/2);
    right: calc((100% - 500px)/2);
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .smol-link {
  color: black;
}